# Mac
.DS_Store
._*
# vi
*.swp
# Emacs
*~
# Hidemaru
*.BAK
# This project
.bundle
/rails/*/app/.gitignore
/rails/*/app/README.*
/rails/*/app/Rakefile
/rails/*/app/app
/rails/*/app/bin
/rails/*/app/config.ru
/rails/*/app/config
/rails/*/app/db
/rails/*/app/lib
/rails/*/app/log
/rails/*/app/package.json
/rails/*/app/public
/rails/*/app/test
/rails/*/app/tmp
vendor
